<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <title>Document</title>
</head>
<body>
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
     
    <script>
        
        regions = JSON.parse('{{data1|safe}}')// c'est la data récupérée qu'on a travaillé avec
       
        var xValues =[]
        var data_min = []
        var data_max = []
        var data_moyenne = []
        
        console.log('hello',regions,typeof(regions))

        j=0;
        for (i=0;i<regions.length;i++){
            // Au lieu de 11 on va ecrire l'id obtenu apartir de combobox
            if(regions[i].id_region===12){
                xValues[j]= regions[i].month
                data_min[j] = regions[i].valeur_min
                data_max[j] = regions[i].valeur_max
                data_moyenne[j] = regions[i].valeur_moyenne
                j++
                
            }
            
        };
       

        console.log('hello',xValues,typeof(xValues))
        new Chart("myChart", {
            
            type: "line",
            data: {
            labels: xValues,
            datasets: [{ 
                data: data_max,// c'est la données ajoutées,representation du max
                borderColor: "red",
                fill: false,
                label:"Température maximale"
                }, { 
                data: data_min,// c'est la données ajoutées,representation du min
                borderColor: "green",
                fill: false,
                label:"Température minimale"
                }, { 
                data: data_moyenne,// c'est la données ajoutées,representation du moyenne
                borderColor: "blue",
                fill: false,
                label:"Température moyenne"
                }]
              },
           options: {
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        usePointStyle: true,
                        fontColor: 'grey',
                        fontSize:8,
                        fontFamily : "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                    }
                },

                title: {
                    display: true,
                    text: "Temperature"
                },
                


                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'mois',
                            font:{
                                size :8
                            }
                        }
                    }],
                    xAxes: [{
                        
                        scaleLabel: {
                            display: true,
                            labelString: 'mois'
                        }
                     }]
            
                }
            }
        });

        
        
        </script>
    
</body>
</html>